.time-block{
    border:2px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.time-block-row{
    border:1px solid black;
    margin-left:0;
    margin-right:0;
    width:100%;
}

.save-event{
    float:right;
    width:100%;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.save-column{
    padding:0;
}
.event-column{
    padding-right:0;
}
.hour-of-the-day{
    float:left;
    border: 1px slide black;
    /* font-size: x-small; */
}
.time-suffix{
    /* font-size:x-small; */
}
.weather-icon{
    float:right;
}
.event-for-the-day{
    width: 100%;
}
.past{
    background-color: lightslategray;
}
.present{
    background-color: lightpink;
}
.future{
    background-color: lightgreen;
}